
<div class="appInfo">
  <div class="page-header">
    <h1 id="contact">Mục lục bài kiểm tra.</small></h1>
  </div>


  <% @baitaps.each do |bt| %>
    <img src="/images/flashcards/formulas.png" style="float:left; margin-right: 8px; margin-top:2px;"/>
    <p><%= bt.name %></p>

    <div class="page-header">
      <h4 style="font-size: 30px; line-height: 34px;"><%= bt.description %><small></small></h4>
      <div>
        <a  style="font-size: 30px; padding: 12px;" href="<%= reception_app_managers_path(:id => bt.id) %>" class="btn btn-danger">Làm Bài</a>
        <a style="font-size: 30px; padding: 12px;" class="btn btn-info" href="<%= bai_tap_path(:id => bt.id) %>">Quản lý Câu hỏi</a>
        <a style="font-size: 30px; padding: 12px;" class="btn btn-success" href="<%= review_app_managers_path(:id => bt.id) %>">Chấm bài</a>
        <a style="font-size: 30px; padding: 12px;"    class="btn" href="<%= edit_bai_tap_path(:id => bt.id) %>">Sửa nội dung</a>
      </div>
    </div>
  <% end %>




</div>
