<div class="appInfo">
  <h1 id="contact">Câu hỏi mới cho <small><%= @baitap.name %></small></h1>

  <%= form_for(@cauhoi, :url => luu_cau_hoi_bai_taps_path , :html => {:multipart => false, :id => "form_cau_hoi" }, :method => :post) do |f| %>
    <input name="utf8" type="hidden" value="<%= @baitap.id %>"/>
    <table class="table">
      <tr>
        <td>
          Loại câu hỏi
        </td>
        <td>
          To: <%= select("loai_cau_hoi", "cau_hoi", Category.all.collect {|p| [ p.ten, p.id ] }, {:include_blank => false}, :class => "span3") %>

        </td>
      </tr>
    </table>
    <%= f.submit "Lưu" %>
  <% end %>



</div>
