<div id="verify<%= traloi.id %>">
  <% if traloi.dapan == "yes" %>
    <input type="radio" name="verify<%= traloi.id %>" value="yes" checked="checked"/>Đúng<br/>
    <input type="radio" name="verify<%= traloi.id %>" value="no"/>Sai
  <% elsif traloi.dapan == "no" %>
    <input type="radio" name="verify<%= traloi.id %>" value="yes"/>Đúng<br/>
    <input type="radio" name="verify<%= traloi.id %>" value="no" checked="checked"/>Sai
  <% else %>
    <input type="radio" name="verify<%= traloi.id %>" value="yes"/>Đúng<br/>
    <input type="radio" name="verify<%= traloi.id %>" value="no"/>Sai
  <% end %>
</div>
<script>
  $(document).ready(function() {
    $('#verify<%= traloi.id %>').find('input').click(function(){
      var strva = $(this).val();
      DanhGia(strva,'<%= traloi.id %>');
    });
  });
</script>