<label><h1>Câu hỏi:</h1><h2><%= pheptinh.cau_hoi %></h2></label>

<%
a1=pheptinh.so_a
a2=pheptinh.donvi_a
b1=pheptinh.so_b
b2=pheptinh.donvi_b
%>
<table style="font-size: 40px;">
  <tr>
    <td>
      <%= a1 %> 
      <%= a2 %> 

    </td>
    <td>

    </td>
    <td>
      <%= b1 %> 
      <%= b2 %> 

    </td>
  </tr>
</table>
