<%= form_for(@cauhoi, :url => luu_nhantptn_bai_taps_path , :html => {:multipart => false, :id => "form_cau_hoi" }, :method => :post) do |f| %>
  <input name="id" type="hidden" value="<%= @baitap.id %>" id="id_bai_tap"/>
  <input name="id_cau_hoi" type="hidden" value="<%= @cate.id %>" id="id_bai_tap"/>

  <%= f.label "Câu hỏi" %>
  <%= f.text_field :cau_hoi %>
  <%= f.label "Số thập phân" %>
  <%= f.text_field :so_a %>
  <%= f.label "Số tự nhiên" %>
  <%= f.text_field :so_b %>
  <%= f.label "Kết quả" %>
  <%= f.text_field :ketqua %>
  <div class="page-header"></div>
  <%= f.submit "Khởi tạo" %>
<% end %>