<%= form_for(@traloi, :url => luu_traloi_app_managers_path , :html => {:multipart => false, :id => "form_newhs" }, :method => :post) do |f| %>

  <%= f.text_field :loai_cau_hoi_id, :type => "hidden" %>
  <%= f.text_field :ket_qua_id, :value => @ketqua.id , :type => "hidden" %>

  <% c=@cauhoi %>
  <%=
  case c.content.to_s
  when "PhepCong"
    render :partial => "/bai_taps/display/phep_cong", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
    #when "PhepChia"
    #render :partial => "/bai_taps/form/phep_chia"
  when "ChiaPhanso"
    render :partial => "/bai_taps/display/chia_phanso", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "ChiaThapPhan10K"
    render :partial => "/bai_taps/grid_item/chia_thapphan10k", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "ChiaThapPhanTp"
    render :partial => "/bai_taps/grid_item/chia_thapphantp", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "ChiaThapPhanTuNhien"
    render :partial => "/bai_taps/grid_item/chia_thapphantn", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "ChiaTnThapPhan"
    render :partial => "/bai_taps/grid_item/chia_tnthapphan", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "ChiaTnTnThapPhan"
    render :partial => "/bai_taps/grid_item/chia_tntnthapphan", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "CongNhieuThapPhan"
    render :partial => "/bai_taps/display/congnhieutp", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "CongPhanSo"
    render :partial => "/bai_taps/display/congphanso", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "Dodai"
    render :partial => "/bai_taps/display/dodai", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "HonSo"
    render :partial => "/bai_taps/display/honso", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "HonSoThapPhan"
    render :partial => "/bai_taps/display/honsotp", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "NhanPhanso"
    render :partial => "/bai_taps/display/nhanphanso", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "NhanThapPhan10K"
    render :partial => "/bai_taps/display/nhantp10k", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "NhanThapPhanThapPhan"
    render :partial => "/bai_taps/grid_item/nhantptp", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "NhanThapPhanTuNhien"
    render :partial => "/bai_taps/display/nhantptn", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "PhanSoThapPhan"
    render :partial => "/bai_taps/display/phansotp", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "SoSanhPhanSo"
    render :partial => "/bai_taps/display/sosanhps", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "ThapPhanVaTong"
    render :partial => "/bai_taps/display/thapphantong", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "TiSoPhanTram"
    render :partial => "/bai_taps/grid_item/tisophantram", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "TruPhanSo"
    render :partial => "/bai_taps/display/truphanso", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  when "TruThapPhan"
    render :partial => "/bai_taps/display/trutp", :locals => { :pheptinh => eval(c.content).where(:loai_cau_hoi_id => c.id).first }
  else "error; co loi"
  end
%>



  <h1>Trả lời</h1>
  <%= f.text_field :noidung %>
  <div class="page-header"></div>
  <%= f.submit "Lưu lại" %>
<% end %>